[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
numpydoc = "*"
sphinx = "*"
pyment = "*"

[packages]
# Note: cython needed to get fasttext working. Ensure cython is installed first.
# fasttext = "*"
cython = "*"
keras = "*"
nltk = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
